.env
.env.backup
.env.backup.*

.idea
.vscode
.eclipse

.venv
__pycache__

.swc
*/.swc
**/.swc/**

!./.npmrc

node_modules
node_modules/*
node_modules/**

.terraform/*

*.tfstate
*.tfstate.*

cdktf.out
cdktf.out/*
cdktf.out/**

*.js
**/*.js
**/*.map
**/*.d.ts

.DS_Store

*.tsbuildinfo
tsconfig.tsbuildinfo
**/tsconfig.tsbuildinfo

*.log
